body{
 letter-spacing: -0.5em;
 margin:0;
 font-size: 0;
 -webkit-tap-highlight-color: transparent;
}

header{
 text-align: center;
 background:#000;
 color:#fff;
 font-size: 24px;
}

h1{
 padding: 0;
 margin: 0; 
 display: inline-block;
 width:100%;
}

#test{
 display: flex;
 flex-wrap: wrap;
 background:#fff;
 margin: auto;
}

li{
 position: relative;
 margin:0;
 width:33.3%;
}
li:before{
 content: "";
 display: block;
 padding-top:100%;
}

img{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 padding:0;
 margin:auto;
 object-fit: cover;
 width:100%;
 border:solid thin #000;
}

@media screen and (max-width:899px){
 body{
  width:100%;
 }
}
@media screen and (min-width:900px){
 #test{
  width:900px;
 }
 body{
  background-color: #555555;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
 }
}