img{
 top: 0;
 width: 100%;
 object-fit: contain;
 text-align: center;
 max-height: 85vh;
 }

body{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 height: 100%;
 background:#fff;
 font-family:sans-serif;
 }

header{
 text-align: center;
 background:#000;
 font-size: 24px;
}
header a{
 font-size: 4.5vh;}

h1{
 padding: 0;
 margin: 0; 
 display: inline-block;
 width:100%;
 color:#ffffff;
}

h1 a{
    text-decoration: none;
    color: #FFFFFF;
}

footer{
 position:absolute;
 margin-top: auto;
 text-align: left;
 width: 100%;
 margin-top: auto;
 bottom: 0;
}
input[type="button"] {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: solid 3px #000000;
  position: relative;
  line-height: 60px;
  font-weight: bold;
  font-size : 24pt;
  background-color : #fff;
  color : #000;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; /* カーソルを分かりやすく */
  outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
  height: 5px; /* バーの高さ */
  width: 80%; /* バーの幅 */
  background: #dddddd; /* バーの背景色 */
  border-radius: 0px; /* バーの両端の丸み */
  border: solid 3px #000000; /* バー周囲の線 */
 margin-top:5vh;
 margin-bottom:5vh;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /*  デフォルトのつまみのスタイルを解除 */
  background: #ffffff; /* 背景色 */
  width: 10vh; /* 幅 */
  border: 3px solid #000000;
  height: 10vh; /* 高さ */
  border-radius: 0; /* 円形に 50%*/
      /*  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);  影 */
}

span{
 position: absolute;
  display        : inline-block;
  color          : #000000;            /* 文字の色 */
  font-size      : 7vh;               /* 文字のサイズ */
 bottom: -2.5vh;
 text-align: right;
 right:0;
}

#menu {
  width: 250px;
  height: 100%;
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(250px); /* right0から250px移動した位置 */
  transition: all .5s; /* 移動する速さ */
}
#menu.open {
  transform: translateX(0); /* right0まで-250px移動 */
}
#menu li{
  font-size:5vh;
  color:#FFF;
  list-style-type:none;
}